.footer{
    background-color: teal;
    width: 100%;
    text-align: center;
    height: 60px;
    
}
.footer p{
    color: white;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 25px;
}